@page
@model VexTrainerWeb.Pages.PrivacyPolicyModel
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}

<div class="container content-page">
@if (Model.ErrorMessage != null)
{
<div class="alert alert-error">@Model.ErrorMessage</div>
}
else
{
    @Html.Raw(Model.ContentHtml)
}
</div>
